* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav {
  padding: 8px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 3vw;
}
